In [1]:
# Import needed stuff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from config import census_api_key
from census import Census
from scipy.stats import linregress

In [2]:
# Get the data from the MDE data available on MDE's website
MDE_data = pd.read_csv("MDE_Data.csv")
MDE_data

,District Number,District Name,Total Enrollment,Total Students of Color or American Indian Count,Total Students of Color or American Indian Percent,Total Students Receiving Special Education Services Count,Total Students Receiving Special Education Services Percent,Total Female Count,Total Female Percent,Total Male Count,Total Male Percent,Total English Learner,Total English Learner Percent
0,2396,A.C.G.C. Public School District,817,86,10.53%,166,20.32%,391,47.86%,426,52.14%,13,1.59%
1,2854,Ada-Borup Public School District,709,148,20.87%,136,19.18%,343,48.38%,366,51.62%,9,1.27%
2,511,Adrian Public School District,574,109,18.99%,88,15.33%,290,50.52%,284,49.48%,32,5.57%
3,1,Aitkin Public School District,1186,84,7.08%,208,17.54%,562,47.39%,624,52.61%,2,0.17%
4,745,Albany Public School District,1768,76,4.30%,293,16.57%,899,50.85%,869,49.15%,13,0.74%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,861,Winona Area Public School District,2937,593,20.19%,656,22.34%,1406,47.87%,1531,52.13%,93,3.17%
325,518,Worthington Public School District,3904,2569,65.80%,522,13.37%,1868,47.85%,2036,52.15%,1104,28.28%
326,100,Wrenshall Public School District,377,35,9.28%,70,18.57%,194,51.46%,183,48.54%,3,0.80%
327,2190,Yellow Medicine East,696,214,30.75%,155,22.27%,338,48.56%,358,51.44%,19,2.73%
328,2805,Zumbrota-Mazeppa School District,1204,88,7.31%,182,15.12%,577,47.92%,627,52.08%,7,0.58%

In [3]:
census_response = []

# Get the census population and poverty data for school districts in minnesota
url = "https://api.census.gov/data/2018/acs/acs5?get=NAME,B01003_001E,B17001_002E&" \
"for=school%20district%20(unified):*&in=state:27&key=" + census_api_key

try:
    census_response = requests.get(url).json()
except:
    pass

# Put results in a data from and drop the first row with headers
census_response_df = pd.DataFrame(census_response)
census_response_df = census_response_df.drop([0])

# Rename the columns
census_response_df = census_response_df.rename(columns = {0:"School District", \
                                                          1:"Population", 2:"Poverty", 3: "State Number", \
                                                          4:"Census School Number"})

# Strip off Minnesota from school district names so we can merge with MDE data
census_response_df["School District"] = census_response_df["School District"].str.replace(', Minnesota', '')

# Just pull the data we are interested in
clean_census_data = census_response_df.loc[:,["School District", "Population", "Poverty", "Census School Number"]]
clean_census_data.to_csv("Census_data.csv", index=False)
clean_census_data

,School District,Population,Poverty,Census School Number
1,Nevis Public School District,2640,100,23370
2,New London-Spicer School District,9275,441,23400
3,New Prague Area Schools,20274,914,23430
4,New Ulm Public School District,19140,1187,23490
5,New York Mills Public School District,3782,386,23520
...,...,...,...,...
320,Mora Public School District,10603,1139,21480
321,Westonka Public School District,19154,776,22920
322,Mounds View Public School District,79439,5439,22950
323,Mountain Lake Public Schools,2993,398,23010
324,Nashwauk-Keewatin School District,3738,483,23310

In [4]:
# Merge the two data frames on the school district name.
merged_census_MDE_df = pd.merge(MDE_data, clean_census_data, right_on = 'School District', left_on = 'District Name')

merged_census_MDE_df

,District Number,District Name,Total Enrollment,Total Students of Color or American Indian Count,Total Students of Color or American Indian Percent,Total Students Receiving Special Education Services Count,Total Students Receiving Special Education Services Percent,Total Female Count,Total Female Percent,Total Male Count,Total Male Percent,Total English Learner,Total English Learner Percent,School District,Population,Poverty,Census School Number
0,2396,A.C.G.C. Public School District,817,86,10.53%,166,20.32%,391,47.86%,426,52.14%,13,1.59%,A.C.G.C. Public School District,5663,615,00106
1,2854,Ada-Borup Public School District,709,148,20.87%,136,19.18%,343,48.38%,366,51.62%,9,1.27%,Ada-Borup Public School District,2622,222,00126
2,511,Adrian Public School District,574,109,18.99%,88,15.33%,290,50.52%,284,49.48%,32,5.57%,Adrian Public School District,2275,174,02730
3,1,Aitkin Public School District,1186,84,7.08%,208,17.54%,562,47.39%,624,52.61%,2,0.17%,Aitkin Public School District,9541,1098,02760
4,745,Albany Public School District,1768,76,4.30%,293,16.57%,899,50.85%,869,49.15%,13,0.74%,Albany Public School District,9531,556,02930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,861,Winona Area Public School District,2937,593,20.19%,656,22.34%,1406,47.87%,1531,52.13%,93,3.17%,Winona Area Public School District,39562,5831,44070
316,518,Worthington Public School District,3904,2569,65.80%,522,13.37%,1868,47.85%,2036,52.15%,1104,28.28%,Worthington Public School District,16278,2599,44160
317,100,Wrenshall Public School District,377,35,9.28%,70,18.57%,194,51.46%,183,48.54%,3,0.80%,Wrenshall Public School District,1872,140,44190
318,2190,Yellow Medicine East,696,214,30.75%,155,22.27%,338,48.56%,358,51.44%,19,2.73%,Yellow Medicine East,6610,955,00099
319,2805,Zumbrota-Mazeppa School District,1204,88,7.31%,182,15.12%,577,47.92%,627,52.08%,7,0.58%,Zumbrota-Mazeppa School District,7172,450,45735

In [5]:
# Rename Columns
merged_census_MDE_df.rename(columns={'Total Students of Color or American Indian Percent': \
                                     'Percent of Students of Color or American Indian', 
                                     'Total Students Receiving Special Education Services Percent': \
                                     'Percent of Students Receiving Special Education Services',
                                     'Total English Learner Percent': 'Percent English Learner'},
                                     inplace=True)

# Strip off % symbol so we can change to float
merged_census_MDE_df['Percent of Students of Color or American Indian'] = \
merged_census_MDE_df['Percent of Students of Color or American Indian'].str.replace('%', '')
merged_census_MDE_df['Percent of Students Receiving Special Education Services'] = \
merged_census_MDE_df['Percent of Students Receiving Special Education Services'].str.replace('%', '')
merged_census_MDE_df['Percent English Learner'] = \
merged_census_MDE_df['Percent English Learner'].str.replace('%', '')

# Changed Type
merged_census_MDE_df['Poverty'] = merged_census_MDE_df['Poverty'].astype(int)
merged_census_MDE_df['Population'] = merged_census_MDE_df['Population'].astype(int)
merged_census_MDE_df['Percent of Students of Color or American Indian'] = \
merged_census_MDE_df['Percent of Students of Color or American Indian'].astype(float)

# Calculate Percent of Population Living in Poverty
merged_census_MDE_df['Percent in Poverty'] = ((merged_census_MDE_df['Poverty'] / \
                                               merged_census_MDE_df['Population'])*100).astype(float).round(2)

merged_census_MDE_df['Percent of Students Receiving Special Education Services'] = \
merged_census_MDE_df['Percent of Students Receiving Special Education Services'].astype(float)
merged_census_MDE_df['Percent English Learner'] = merged_census_MDE_df['Percent English Learner'].astype(float)

merged_census_MDE_df

,District Number,District Name,Total Enrollment,Total Students of Color or American Indian Count,Percent of Students of Color or American Indian,Total Students Receiving Special Education Services Count,Percent of Students Receiving Special Education Services,Total Female Count,Total Female Percent,Total Male Count,Total Male Percent,Total English Learner,Percent English Learner,School District,Population,Poverty,Census School Number,Percent in Poverty
0,2396,A.C.G.C. Public School District,817,86,10.53,166,20.32,391,47.86%,426,52.14%,13,1.59,A.C.G.C. Public School District,5663,615,00106,10.86
1,2854,Ada-Borup Public School District,709,148,20.87,136,19.18,343,48.38%,366,51.62%,9,1.27,Ada-Borup Public School District,2622,222,00126,8.47
2,511,Adrian Public School District,574,109,18.99,88,15.33,290,50.52%,284,49.48%,32,5.57,Adrian Public School District,2275,174,02730,7.65
3,1,Aitkin Public School District,1186,84,7.08,208,17.54,562,47.39%,624,52.61%,2,0.17,Aitkin Public School District,9541,1098,02760,11.51
4,745,Albany Public School District,1768,76,4.30,293,16.57,899,50.85%,869,49.15%,13,0.74,Albany Public School District,9531,556,02930,5.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,861,Winona Area Public School District,2937,593,20.19,656,22.34,1406,47.87%,1531,52.13%,93,3.17,Winona Area Public School District,39562,5831,44070,14.74
316,518,Worthington Public School District,3904,2569,65.80,522,13.37,1868,47.85%,2036,52.15%,1104,28.28,Worthington Public School District,16278,2599,44160,15.97
317,100,Wrenshall Public School District,377,35,9.28,70,18.57,194,51.46%,183,48.54%,3,0.80,Wrenshall Public School District,1872,140,44190,7.48
318,2190,Yellow Medicine East,696,214,30.75,155,22.27,338,48.56%,358,51.44%,19,2.73,Yellow Medicine East,6610,955,00099,14.45
319,2805,Zumbrota-Mazeppa School District,1204,88,7.31,182,15.12,577,47.92%,627,52.08%,7,0.58,Zumbrota-Mazeppa School District,7172,450,45735,6.27

In [6]:
# Construct final dataframe and export as csv
# merged_census_MDE_df['Percent of Students Receiving Special Education Services'] = merged_census_MDE_df['Percent of Students Receiving Special Education Services'].astype(float)

merged_census_MDE_df.to_csv("Merged_MDE_Census_data.csv", index=False)
merged_census_MDE_df

,District Number,District Name,Total Enrollment,Total Students of Color or American Indian Count,Percent of Students of Color or American Indian,Total Students Receiving Special Education Services Count,Percent of Students Receiving Special Education Services,Total Female Count,Total Female Percent,Total Male Count,Total Male Percent,Total English Learner,Percent English Learner,School District,Population,Poverty,Census School Number,Percent in Poverty
0,2396,A.C.G.C. Public School District,817,86,10.53,166,20.32,391,47.86%,426,52.14%,13,1.59,A.C.G.C. Public School District,5663,615,00106,10.86
1,2854,Ada-Borup Public School District,709,148,20.87,136,19.18,343,48.38%,366,51.62%,9,1.27,Ada-Borup Public School District,2622,222,00126,8.47
2,511,Adrian Public School District,574,109,18.99,88,15.33,290,50.52%,284,49.48%,32,5.57,Adrian Public School District,2275,174,02730,7.65
3,1,Aitkin Public School District,1186,84,7.08,208,17.54,562,47.39%,624,52.61%,2,0.17,Aitkin Public School District,9541,1098,02760,11.51
4,745,Albany Public School District,1768,76,4.30,293,16.57,899,50.85%,869,49.15%,13,0.74,Albany Public School District,9531,556,02930,5.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,861,Winona Area Public School District,2937,593,20.19,656,22.34,1406,47.87%,1531,52.13%,93,3.17,Winona Area Public School District,39562,5831,44070,14.74
316,518,Worthington Public School District,3904,2569,65.80,522,13.37,1868,47.85%,2036,52.15%,1104,28.28,Worthington Public School District,16278,2599,44160,15.97
317,100,Wrenshall Public School District,377,35,9.28,70,18.57,194,51.46%,183,48.54%,3,0.80,Wrenshall Public School District,1872,140,44190,7.48
318,2190,Yellow Medicine East,696,214,30.75,155,22.27,338,48.56%,358,51.44%,19,2.73,Yellow Medicine East,6610,955,00099,14.45
319,2805,Zumbrota-Mazeppa School District,1204,88,7.31,182,15.12,577,47.92%,627,52.08%,7,0.58,Zumbrota-Mazeppa School District,7172,450,45735,6.27

In [7]:
# Create a dataframe with US and Minnesota percentage data, from National Center for Education Statistics
Headers=["% of Special Ed Students","% of Students of Color","% of ELL Students","% of residents experiencing poverty"]
US = [15.2, 52.4, 10.10, 12.70]
MN = [16.18, 34.30, 8.36, 9.90]

Info = zip(Headers,US,MN)
Info_df = pd.DataFrame(Info)
Info_df = Info_df.rename(columns = {0 : "Category", 1 : "US", 2 : "MN"})
Info_df.to_csv("Info.csv", index=False)
Info_df

                              Category    US     MN
0             % of Special Ed Students  15.2  16.18
1               % of Students of Color  52.4  34.30
2                    % of ELL Students  10.1   8.36
3  % of residents experiencing poverty  12.7   9.90